.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.error {
  color: red;
}
.error,
.filename {
  margin-top: 10px;
}

.progressbar__container {
  align-self: stretch;
}

.progress__bar {
  height: 5px;
  background-color: orange;
}

.image__grid {
  display: grid;
  margin: 20px 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.image__wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
}

.image__wrap img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
.image__wrap img:hover {
  transform: scale(1.02);
  opacity: 1;
}

.file__input,
.image__wrap {
  cursor: pointer;
}
